.metadata/*

*.DS_Store

deployToAppsGateDistribution.sh

*.classpath

*.project

*.prefs

*.class

*.iml

*.*~*

.idea

*obr.xml

target

felix-cache
distributions/demo-android/apam*
distributions/demo-android/bin/**/*
distributions/demo-android/bundle/**/*
distributions/demo-android/conf/**/*
distributions/demo-android/log/**/*
distributions/demo-android/natives/**/*
distributions/demo-android/assem*
distributions/demo-android/load/**/*
nbaction.xml
distributions/Appsgate-distribution-light/enocean.db.json
sources/appsgate-project/communication-components/AppsGate/src/main/resources/WEB/index-TER.html
sources/appsgate-project/communication-components/AppsGate/src/main/resources/readme.txt
sources/PhilipsHUE4Appsgate/PhilipsHUEAdapter/.classpath
sources/appsgate-project/communication-components/EHMIProxyImpl/src/main/resources/WEB/spok/**/*

sources/UPnPMediaServices/.classpath

sources/UPnPMediaServices/.project

sources/agenda/GoogleAdapter/.classpath

sources/apam.components/AbstractObjectSpec/.classpath

sources/apam.components/AbstractObjectSpec/.project

sources/apam.components/AppsGate/src/main/resources/obr.xml

sources/apam.components/ContactSensorImpl/.classpath

sources/apam.components/ContactSensorImpl/.project

sources/apam.components/ContactSensorSpec/.classpath

sources/apam.components/ContactSensorSpec/.project

sources/apam.components/ContactSensorSpec/.project

sources/apam.components/KeyCardSensorImpl/.classpath

sources/apam.components/KeyCardSensorImpl/.project

sources/apam.components/KeyCardSensorSpec/.classpath

sources/apam.components/KeyCardSensorSpec/.project

sources/apam.components/LumSensorImpl/.classpath

sources/apam.components/LumSensorImpl/.project

sources/apam.components/EUDE_Intepreter/src/main/resources/obr.xml

sources/apam.components/LumSensorSpec/.project

sources/apam.components/OnOffActuatorImpl/.classpath

sources/apam.components/OnOffActuatorImpl/.project

sources/apam.components/OnOffActuatorSpec/.classpath

sources/apam.components/OnOffActuatorSpec/.project

sources/apam.components/LumSensorSpec/.classpath

sources/apam.components/PlaceManager/.classpath

sources/apam.components/PlaceManager/.project

sources/apam.components/PlaceManagerSpec/.classpath

sources/apam.components/PlaceManagerSpec/.project

sources/apam.components/EUDE_Intepreter/src/main/java/appsgate/lig/eude/interpreter/impl/EUDEInterpreterImpl.java

sources/apam.components/RouterApAM/.project

sources/apam.components/SwitchSensorImpl/.project

sources/apam.components/RouterApAM/.classpath

sources/apam.components/SwitchSensorImpl/.classpath

sources/apam.components/SwitchSensorSpec/.classpath

sources/apam.components/SwitchSensorSpec/.project

sources/apam.components/TempSensorImpl/.classpath

sources/apam.components/TempSensorImpl/.project

sources/apam.components/TempSensorSpec/.classpath

sources/apam.components/TempSensorSpec/.project

sources/apam.components/UndefinedSensorImpl/.project

sources/apam.components/UndefinedSensorSpec/.project

sources/apam.components/UndefinedSensorImpl/.classpath

sources/apam.components/UndefinedSensorSpec/.classpath

sources/communication.manager/.classpath

sources/communication.manager/.classpath

sources/communication.manager/.project

sources/proxy.enocean/.classpath

sources/proxy.enocean/.project

sources/Context/ContextHistoy/nbactions.xml

sources/test.components/ContextHistoryTester/nbactions.xml

sources/apam.components/PlaceManager/target/classes/metadata.xml

sources/mail/src/main/resources/obr.xml

sources/test.components/InterpreterProgramTester/target/classes/META-INF/MANIFEST.MF

sources/apam.components/RouterApAM/target/classes/appsgate/lig/router/impl/RouterImpl.class

sources/apam.components/PlaceManagerSpec/target/classes/appsgate/lig/manager/location/spec/PlaceManagerSpec.class

sources/apam.components/RouterApAM/target/classes/appsgate/lig/router/impl/RouterImpl.class

*.class

sources/PhilipsHUE4Appsgate/PhilipsHUEImpl/src/main/resources/obr.xml

sources/PhilipsHUE4Appsgate/PhilipsHUEImpl/src/main/resources/obr.xml

sources/PhilipsHUE4Appsgate/PhilipsHUEImpl/src/main/resources/obr.xml

*.swp

*.log

*.location

*.id

*.info

*.checksum

*.config

**/target/**/*.jar

*.ser


*.script

sources/appsgate-project/appsgate-context/PropertyHistoryManager/target/classes/META-INF/MANIFEST.MF

sources/appsgate-project/appsgate-context/PropertyHistoryManager/target/classes/metadata.xml


distributions/android-appsgate

distributions/Appsgate-distribution/felix-cache/*
sources/appsgate-project/android-utils/CyberGarageAndroidAdapter/target/classes/META-INF/MANIFEST.MF
/sources/appsgate-project/integrated-technologies/device-mockups/SwingARD/target/
sources/appsgate-project/android-utils/JSONAndroidAdapter/target/classes/META-INF/MANIFEST.MF

sources/appsgate-project/android-utils/UpnpBasedriverAdapter/target/classes/META-INF/LICENSE

sources/appsgate-project/android-utils/UpnpBasedriverAdapter/target/classes/META-INF/LICENSE.cyberdomo

sources/appsgate-project/android-utils/UpnpBasedriverAdapter/target/classes/META-INF/LICENSE.kxml2

sources/appsgate-project/android-utils/UpnpBasedriverAdapter/target/classes/META-INF/MANIFEST.MF

sources/appsgate-project/android-utils/UpnpBasedriverAdapter/target/classes/META-INF/NOTICE
*.lst

*.MF

sources/appsgate-project/android-utils/CyberGarageAndroidAdapter/target/surefire-reports/TEST-org.cybergarage.http.HTTPTest.xml

sources/appsgate-project/android-utils/CyberGarageAndroidAdapter/target/surefire-reports/TEST-org.cybergarage.upnp.DeviceTest.xml

sources/appsgate-project/android-utils/CyberGarageAndroidAdapter/target/surefire-reports/TEST-org.cybergarage.upnp.ServiceTest.xml

sources/appsgate-project/android-utils/CyberGarageAndroidAdapter/target/surefire-reports/org.cybergarage.http.HTTPTest.txt

sources/appsgate-project/android-utils/CyberGarageAndroidAdapter/target/surefire-reports/org.cybergarage.upnp.DeviceTest.txt

sources/appsgate-project/android-utils/CyberGarageAndroidAdapter/target/surefire-reports/org.cybergarage.upnp.ServiceTest.txt

sources/appsgate-project/composite-distribution/target/classes/metadata.xml

sources/appsgate-project/integrated-technologies/PhilipsHUE4Appsgate/PhilipsHUEAdapterSpec/target/classes/metadata.xml

sources/appsgate-project/integrated-technologies/sensor-network/enocean/EnoceanPlugImpl/target/classes/metadata.xml

sources/appsgate-project/integrated-technologies/fuchsia-ard-plugin/ard-importer-adaptor/target/classes/metadata.xml

sources/appsgate-project/nb-configuration.xml

sources/appsgate-project/appsgate-context/ContextHistoy/nbactions.xml

distributions/AppsGate-autodistrib/bundle/*
distributions/AppsGate-autodistrib/conf/*
distributions/AppsGate-autodistrib/bin/*
distributions/AppsGate-autodistrib/log/*
distributions/AppsGate-autodistrib/apam*
distributions/AppsGate-autodistrib/certificates/*
distributions/AppsGate-autodistrib/natives/*
distributions/AppsGate-autodistrib/load/*

/** Ignore from the appsgate-client **/

sources/appsgate-client/.DS_Store
sources/appsgate-client/node_modules/*
sources/appsgate-client/phonegap-client/*
sources/appsgate-client/bower_components/
*.pbxproj
*/xcuserdata/*
*.xcscheme

*.lck
distributions/light/*.diff
distributions/complete/*.diff
distributions/light/*.jar
distributions/complete/bin/*
distributions/complete/bundle/*
distributions/complete/conf/*
distributions/complete/load/*
distributions/complete/natives/*
distributions/light/bin/*
distributions/light/bundle/*
distributions/light/conf/*
distributions/light/load/*
distributions/light/natives/*
distributions/complete/apam*
distributions/light/apam*
distributions/complete/assembly.xml
distributions/light/assembly.xml
distributions/light/traceMan-*.json
distributions/complete/traceMan-*.json
distributions/Appsgate-distribution-light/*
distributions/demo-android/*
sources/appsgate-project/communication-components/EHMIProxyImpl/src/main/resources/WEB/spok/*
distributions/complete/philips.properties
