<div class="lead">
	<span data-i18n="services.tts.name.singular"></span>
</div>
<div class="contents-list scrollable">
	<div class="panel panel-default">
		<div class="list-group">
			<% if (typeof sensorImg !== "undefined") { %>
			<li class="list-group-item">
				<img src="<%= sensorImg %>"  class="img-responsive" style="width:auto;">
			</li>
			<% } %>

			<div class="form-inline" style="width:auto;">
				<span data-i18n="services.tts.lang.voice"/>
				<select class="form-control select-lang" style="width:auto;">
					<% for (var lang in availableVoices) { %>
						<option value="<%= lang %>" <% if (lang === selectedLang) { %>selected<% } %> data-i18n="services.tts.lang.<%= lang %>"></option>
					<% } %>
				</select>

				<span data-i18n="services.tts.lang.from"/>
				<%var gender = "Male"%>

				<select class="form-control select-voice" style="width:auto;">
					<% for (var v=0; v<availableVoices[selectedLang].length; v++) { %>
					<option value="<%= availableVoices[selectedLang][v] %>" <% if (availableVoices[selectedLang][v][2] === selectedVoice) { gender = availableVoices[selectedLang][v][1]; %>selected<% } %> >
						<%= availableVoices[selectedLang][v][2] %>
					</option>
					<% } %>
				</select>
				<!--(<span class=select-gender" data-i18n="services.tts.lang.<%= gender %>"/>)-->
				<span data-i18n="services.tts.lang.slow"/>
				<input type="range" class="select-speed" min="1" max="10" style="width:auto;display:inline;">
				<span data-i18n="services.tts.lang.fast"/>

			</div>

			<button type="button" class="btn btn-tts-voice" data-i18n="devices.tv.action.channelup"></button>
			<button type="button" class="btn btn-tts-speed" data-i18n="devices.tv.action.channeldown"></button>

		</div>
	</div>
</div>
