<div id="progress-<%= node.iid %>" class="progress-indicator-group">
  <img src="/app/img/flash.svg" class="progress-indicator progress-indicator-counter" />
  <span id="progress-counter-<%=node.iid %>">0</span>
</div>
<div class="btn btn-default btn-prog btn-prog-action " id="<%= node.iid %>">
        <% if (typeof node.phrase !== 'undefined') { %>
            <span data-i18n='<%=node.phrase%>'></span>
        <% } else { %>
        Uknown
        <% } %>

    <% if (typeof node.target !== 'undefined') { %>
    <%=engine.buildInputFromNode(node.target, currentNode) %>
    <% } %>

</div>
