<div class="main-block-node">
    <div>
        <span class="progress-true-false-indicator hidden" id="true-false-<%= node.iid %>" true-node="<%= node.seqRulesTrue.iid %>" false-node="<%= node.seqRulesFalse.iid %>">test</span>
        <button class="btn btn-prog btn-primary" id="<%= node.iid %>">
            <span data-i18n="language.if-keyword"/>
        </button>
        <%=engine.buildInputFromNode(node.expBool, currentNode) %>
        <span class='link-span' data-i18n="language.then-keyword"/>


        <div class="row indent-level-1">
            <%=engine.buildInputFromNode(node.seqRulesTrue, currentNode) %>
        </div>
    </div>
    <% if ( node.seqRulesFalse != undefined) { %>
    <div <% if(node.seqRulesFalse.rules.length < 2 ) { %>class="secondary-block-node"<% } %>>
        <span class='link-span' data-i18n="language.else-keyword"/>
        <div class="row">
            <div class="indent-level-1 fix-row">
            <%=engine.buildInputFromNode(node.seqRulesFalse, currentNode) %>
          </div>
        </div>
    </div>
    <%}%>
</div>
