<div class="main-block-node">
    <div>
        <button class="btn btn-prog btn-primary" id="<%= node.iid %>">
            <span data-i18n="language.if-keyword"/>
        </button>
        <%=engine.buildInputFromNode(node.expBool, currentNode) %>
        <button class="btn btn-prog btn-primary"
            <span data-i18n="language.then-keyword"/>
        </button>


        <div class="row indent-level-1">
            <%=engine.buildInputFromNode(node.seqRulesTrue, currentNode) %>
        </div>
    </div>
    <% if ( node.seqRulesFalse != undefined) { %>
    <div <% if(node.seqRulesFalse.rules.length < 2 ) { %>class="secondary-block-node"<% } %>>
        <div class="row">
            <button class="btn btn-prog btn-primary btn-then"
                <span data-i18n="language.else-keyword"/>
            </button>
            <div class="indent-level-1 fix-row">
            <%=engine.buildInputFromNode(node.seqRulesFalse, currentNode) %>
          </div>
        </div>
    </div>
    <%}%>
</div>
