<div id="progress-<%= node.iid %>" class="progress-indicator-group pull-left">
  <table>
    <tr>
      <td>
        <i class="glyphicon glyphicon-flash pull-left"></i>
      </td>
      <td>
        <span id="progress-counter-<%=node.iid %>" class="progress-indicator">0</span>
      </td>
    </tr>
  </table>
</div>
<div class="btn btn-default btn-prog btn-prog-action" id="<%= node.iid %>">
        <% if (typeof node.phrase !== 'undefined') {%>
                <%=$.i18n.t(node.phrase, {myVar:engine.buildInputFromNode(node.target, currentNode)}) %>
        <%} else { %>
            Unknown
        <% } %>

    <% if (node.methodName.search("set") === 0 && node.methodName != "setBrightness") { %>
    <span data-i18n="devices.lamp.complement.change-color"></span>
    <select id="lamp-color-<%= node.idd %>" class="lamp-color-picker" target-id="<%= node.iid %>">
        <option <% if (node.methodName === "setRed") { %>selected<% } %> value="setRed" data-i18n="language.color.red"></option>
        <option <% if (node.methodName === "setBlue") { %>selected<% } %> value="setBlue" data-i18n="language.color.blue"></option>
        <option <% if (node.methodName === "setGreen") { %>selected<% } %> value="setGreen" data-i18n="language.color.green"></option>
        <option <% if (node.methodName === "setYellow") { %>selected<% } %> value="setYellow" data-i18n="language.color.yellow"></option>
        <option <% if (node.methodName === "setOrange") { %>selected<% } %> value="setOrange" data-i18n="language.color.orange"></option>
        <option <% if (node.methodName === "setPurple") { %>selected<% } %> value="setPurple" data-i18n="language.color.purple"></option>
        <option <% if (node.methodName === "setPink") { %>selected<% } %> value="setPink" data-i18n="language.color.pink"></option>
        <option <% if (node.methodName === "setWhite") { %>selected<% } %> value="setWhite" data-i18n="language.color.white"></option>
    </select>
    <% }%>

    <% if ( node.methodName == "blink" ) { %>
        <span data-i18n="devices.lamp.complement.during"></span>
        <input target-id="<%= node.iid %>" id="lamp-time-<%= node.iid %>" class="lamp-input-selector" type="text" value="<%= node.args[0].value %>" size="4"  />
        <span data-i18n="devices.lamp.complement.speed"></span>
        <select target-id="<%= node.iid %>" id="lamp-frequency-<%= node.iid %>" class="lamp-input-selector">
            <option value="500" data-i18n="devices.lamp.complement.fast" <% if (node.args[1].value === "500") { print('selected'); } %> ></option>
            <option value="1000" data-i18n="devices.lamp.complement.normal" <% if (node.args[1].value === "1000") { print('selected'); } %> ></option>
            <option value="1500" data-i18n="devices.lamp.complement.slow" <% if (node.args[1].value === "1500") { print('selected'); } %> ></option>
        </select>
    <% } %>

    <% if ( node.methodName == "setBrightness" ) { %>
            <span data-i18n="devices.lamp.complement.luminosity-change"></span>
            <span data-i18n="devices.lamp.complement.minimum"></span>
            <input target-id="<%= node.iid %>" id="luminositeInputRange-<%= node.iid %>" class="lamp-luminosity-selector" type="range" value="<%= node.args[0].value %>" class="select-speed" min="1" max="254" style="width:auto;display:inline;">
            <span data-i18n="devices.lamp.complement.maximum"></span>
    <% } %>
</div>
