<!--
<div class="btn btn-default btn-prog btn-prog-action " id="<%= node.iid %>">
        <% if (typeof node.phrase !== 'undefined') { %>
                <span data-i18n='<%=node.phrase%>'></span>
        <% } else { %>
                Uknown
        <% } %>
        <%=engine.buildInputFromNodeOrMandatory(node.target, currentNode, typeof node.target.value !== 'undefined') %>
</div>
-->
<div class="btn btn-default btn-prog btn-prog-action " id="<%= node.iid %>">
        <%= $.i18n.t(node.phrase, {myVar:engine.buildInputFromNodeOrMandatory(node.target, currentNode, typeof node.target.value !== 'undefined')}) %>
</div>
