<div id="progress-<%= node.iid %>" class="progress-indicator-group pull-left">
  <table>
    <tr>
      <td>
        <i class="glyphicon glyphicon-flash pull-left"></i>
      </td>
      <td>
        <span id="progress-counter-<%=node.iid %>" class="progress-indicator">0</span>
      </td>
    </tr>
  </table>
</div>
<div class="btn btn-default btn-prog btn-prog-action " id="<%= node.iid %>">
        <%= $.i18n.t(node.phrase, {myVar:engine.buildInputFromNodeOrMandatory(node.target, currentNode, typeof node.target.value !== 'undefined')}) %>
</div>
