<div id="progress-<%= node.iid %>" class="progress-indicator-group pull-left">
  <table>
    <tr>
      <td>
        <i class="glyphicon glyphicon-flash pull-left"></i>
      </td>
      <td>
        <span id="progress-counter-<%=node.iid %>" class="progress-indicator">0</span>
      </td>
    </tr>
  </table>
</div>
<div class="active-node-indicator hidden" id="active-<%= node.iid %>" target-node="<%= node.iid %>"><i class="glyphicon glyphicon-arrow-right"></i></div>
<div class="btn btn-default btn-prog btn-prog-action" id="<%= node.iid %>">
    <span data-i18n="language.wait"></span>
    <input type="number" class="number-input" value="<%= node.waitFor.value %>" target-id="<%= node.waitFor.iid %>"/>
    <span data-i18n="language.seconds"></span>
</div>
