<div class="main-block-node" id="<%= node.iid %>">
    <div id="progress-<%= node.iid %>" class="progress-indicator-group">
      <img src="/app/img/flash.svg" class="progress-indicator progress-indicator-counter" />
      <span id="progress-counter-<%=node.iid %>" class="progress-indicator">0</span>
      <span class="progress-indicator" data-i18n='debugger.times'/>
    </div>
    <div class="row">
        <button class="btn btn-prog btn-primary btn-then">
          <% if(node.type === "whenImp") { %>
            <span data-i18n="language.when-imp-keyword"></span>
          <% } else { %>
            <span data-i18n="language.when-keyword"></span>
          <% } %>
        </button>
        <%=engine.buildInputFromNode(node.events, currentNode)%>
        <span data-i18n="language.then-keyword"/>
    </div>
    <div class="row indent-level-1">
        <%=engine.buildInputFromNode(node.seqRulesThen, currentNode) %>
    </div>
</div>
