<div class="main-block-node">
    <div>
        <div class="row">
            <button class="btn btn-prog btn-primary btn-then" id="<%= node.iid %>">
                <span data-i18n="language.while-keyword"></span>
            </button>
            <%=engine.buildInputFromNode(node.state, currentNode)%>
        </div>
        <div class="row indent-level-1">
            <div class="btn btn-prog btn-primary">
                <span name="keep" data-i18n="language.keep-keyword"></span>
            </div>

            <%=engine.buildInputFromNode(node.rules, currentNode) %>
        </div>
    </div>
    <% if ( node.rulesThen != undefined) { %>
    <div <% if(node.rulesThen.rules.length < 2 ) { %>class="secondary-block-node"<% } %>>
      <div class="row">
        <button class="btn btn-prog btn-primary btn-then">
          <span data-i18n="language.and-when"></span>
        </button>
        <span data-i18n="language.it-is-not-the-case"></span>
      </div>
      <div class="row indent-level-1">
            <div class="btn btn-prog btn-primary">
                <span data-i18n="language.then-keyword"></span>
            </div>
            <%=engine.buildInputFromNode(node.rulesThen, currentNode) %>
      </div>
    </div>
    <%}%>
</div>
