<a href="#places/<%= place.get('id') %>" class="list-group-item <% if (active) { %> active <% } %>">
	<!-- header -->
	<p class="list-group-item-heading lead">
		<% if (place.getName() !== "") { %>
			<%= place.getName() %>
		<% } else { %>
			<em data-i18n="places-menu.place-no-name"></em>
		<% } %>
	</p>

	<!-- body -->
	<!--p class="list-group-item-text"-->
		<table class="devices-list">
			<tr>
				<td style="width:90%"></td>
				<td style="width:10%"></td>
			</tr>
			<!-- temperature sensors -->
			<% if (place.getTemperatureSensors().length > 0) { %>
			<tr>
				<td>
				<% if (place.getTemperatureSensors().length === 1) { %>
					<span data-i18n="devices.temperature.name.singular"></span>
				<% } else { %>
					<span data-i18n="devices.temperature.name.plural"></span>
				<% } %>
				<span class="label-value">
					<%= Math.round(place.getAverageTemperature()) %>&deg;C
				</span>
			</td>
			<td>
				<span class="badge">
					<%= place.getTemperatureSensors().length %>
				</span>
			</td>
			</tr>
			<% } %>

			<!-- illumination sensors -->
			<% if (place.getIlluminationSensors().length > 0) { %>
			<tr>
				<td>
				<% if (place.getIlluminationSensors().length === 1) { %>
					<span data-i18n="devices.illumination.name.singular"></span>
				<% } else { %>
					<span data-i18n="devices.illumination.name.plural"></span>
				<% } %>
				<div class="label-value">
					<%= place.getAverageIllumination() %> Lux
				</div>
			</td>
			<td>
				<span class="badge">
					<%= place.getIlluminationSensors().length %>
				</span>
			</td>
			</tr>
			<% } %>

			<!-- switches -->
			<% if (place.getSwitches().length > 0) { %>
			<tr>
				<td>
				<% if (place.getSwitches().length === 1) { %>
					<span data-i18n="devices.switch.name.singular"></span>
				<% } else { %>
					<span data-i18n="devices.switch.name.plural"></span>
				<% } %>
			</td>
			<td>
				<span class="badge">
					<%= place.getSwitches().length %>
				</span>
			</td>
			</tr>
			<% } %>

			<!-- contact sensors -->
			<% if (place.getContactSensors().length > 0) { %>
			<tr>
				<td>
				<% if (place.getContactSensors().length === 1) { %>
					<span data-i18n="devices.contact.name.singular"></span>
				<% } else { %>
					<span data-i18n="devices.contact.name.plural"></span>
				<% } %>
			</td>
			<td>
				<span class="badge">
					<%= place.getContactSensors().length %>
				</span>
			</td>
			</tr>
			<% } %>

			<!-- key-card readers -->
			<% if (place.getKeyCardReaders().length > 0) { %>
			<tr>
				<td>
				<% if (place.getKeyCardReaders().length === 1) { %>
					<span data-i18n="devices.keycard-reader.name.singular"></span>
				<% } else { %>
					<span data-i18n="devices.keycard-reader.name.plural"></span>
				<% } %>
			</td>
			<td>
				<span class="badge">
					<%= place.getKeyCardReaders().length %>
				</span>
			</td>
			</tr>
			<% } %>

			<!-- ard sensors -->
			<% if (place.getARDLock().length > 0) { %>
			<tr>
				<td>
				<% if (place.getARDLock().length === 1) { %>
					<span data-i18n="devices.ard.name.singular"></span>
				<% } else { %>
					<span data-i18n="devices.ard.name.plural"></span>
				<% } %>
			</td>
			<td>
				<span class="badge">
					<%= place.getARDLock().length %>
				</span>
			</td>
			</tr>
			<% } %>

			<!-- plugs -->
			<% if (place.getPlugs().length > 0) { %>
			<tr>
				<td>
				<% if (place.getPlugs().length === 1) { %>
					<span data-i18n="devices.plug.name.singular"></span>
				<% } else { %>
					<span data-i18n="devices.plug.name.plural"></span>
				<% } %>
				<span class="label-value">
					<%= place.getTotalConsumption() %> Watt
				</span>
			</td>
			<td>
				<span class="badge">
					<%= place.getPlugs().length %>
				</span>
			</td>
			</tr>
			<% } %>

			<!-- philips hue lamps -->
			<% if (place.getPhilipsHueLamps().length > 0) { %>
			<tr>
				<td>
				<% if (place.getPhilipsHueLamps().length === 1) { %>
					<span data-i18n="devices.lamp.name.singular"></span>
				<% } else { %>
					<span data-i18n="devices.lamp.name.plural"></span>
				<% } %>
			</td>
			<td>
				<span class="badge">
					<%= place.getPhilipsHueLamps().length %>
				</span>
			</td>
			</tr>
			<% } %>

			<!-- actuators -->
			<% if (place.getActuators().length > 0) { %>
			<tr>
				<td>
				<% if (place.getActuators().length === 1) { %>
					<span data-i18n="devices.actuator.name.singular"></span>
				<% } else { %>
					<span data-i18n="devices.actuator.name.plural"></span>
				<% } %>
			</td>
			<td>
				<span class="badge">
					<%= place.getActuators().length %>
				</span>
			</td>
			</tr>
			<% } %>

			<!-- DomiCubes -->
			<% if (place.getDomiCubes().length > 0) { %>
			<tr>
				<td>
				<% if (place.getDomiCubes().length === 1) { %>
					<span data-i18n="devices.domicube.name.singular"></span>
				<% } else { %>
					<span data-i18n="devices.domicube.name.plural"></span>
				<% } %>
			</td>
			<td>
				<span class="badge">
					<%= place.getDomiCubes().length %>
				</span>
			</td>
			</tr>
			<% } %>
		</ul>
	<!--/p-->
</a>
