<div class="container debugger-toolbar">
    <div class="col-md-6">
        <div id="datetimepicker-toolbar">
            <div class="row pull-left">
                <div class="form-group col-md-6">
                    <div class='input-group date' id='datetimepicker-from'>
                        <input type='text' class="form-control" data-date-format="MM/DD/YYYY HH:mm" />
                            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
                            </span>
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <div class='input-group date' id='datetimepicker-to'>
                        <input type='text' class="form-control" data-date-format="MM/DD/YYYY HH:mm" />
                            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
                            </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="btn-toolbar pull-right" role="toolbar">
            <div class="btn-group" data-toggle="buttons">
                <label id="debugger-action-live" class="btn btn-primary">
                    <input type="radio" name="options" id="live" autocomplete="off" checked/><span data-i18n="debugger.toolbar.live"></span>
                </label>
                <label id="debugger-action-history" class="btn btn-primary">
                    <input type="radio" name="options" id="history" autocomplete="off"><span data-i18n="debugger.toolbar.history"></span>
                </label>
            </div>
        </div>
    </div>
</div>
<div class="debugger">
    <div class="canvas"></div>
</div>

<div id="bubbleModal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-body">
      </div>
    </div>
  </div>
</div>
