/* Styles for AppsGate configuration metro pages
-------------------------------------------------- */


/* Body and structure
-------------------------------------------------- */

html{
   height:100%;
   overflow-y:hidden; /* Respect browser height */
   overflow-x:hidden;
}

body{
   width:100%;
   height:100%;
}

html,
body {
   position: relative;
   background: transparent url(../ressources/bg/simple_gray_2560x1440.jpg) repeat 0 0;
	margin:0;
	padding:0;
	height:100%; /* needed for container min-height */
   color: #FFF;
}