/*-- HTML5 Boilerplate. -----------------------------------------------------*/

@import "../../vendor/bower/html5-boilerplate/css/normalize.css";
@import "../../vendor/bower/html5-boilerplate/css/main.css";
@import "../../vendor/bower/bootstrap/dist/css/bootstrap.css";
@import "../../vendor/bower/jqueryui/themes/custom-theme/jquery-ui-1.10.4.custom.css";
@import "../../vendor/bower/appsgate.debugger/lib/themes/basic/theme.css";

/*-- Application stylesheets. -----------------------------------------------*/

html {
  height: 100%;
  display: block;
}

body {
  height: 100%;
  padding-top: 100px;
  overflow: hidden;
}

#main {
  height: 100%
}

.navbar {
  position:absolute;
}

.breadcrumb > .active > span {
  cursor:default;
}

.user-avatar-item {
  display:block;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.user-avatar-img {
  display:block;
  margin: 0 auto;
}

.background-editor-img {
  width:250px;
  display:block;
  margin: 0 auto;
}

.center-div {
  display:block;
  margin: 0 auto;
}

.emergency-stop {
  position:absolute;
  top:0px;
  left:50%;
}

.alert {
  clear: both;
}

.clock-font {
  font-size: 72px;
}

.clock-seconds {
  font-size: 10px;
}

.div-scrollable {
  overflow-y: auto;
  margin-bottom: 20px;
  border: 1px solid #999999;
  border-radius: 4px;
  -webkit-overflow-scrolling: touch;
}

.browser-container {
  height:250px;
  overflow-y: auto;
}

.navbar {
  position:absolute;
}

.slider-container {
  height:14px;
  width:150px;
}

.center {
  margin:auto !important;
}

.list-group-item > img {
  width: 50%;
  height: auto;
  margin-left: 25%;
}

.programInput > span:hover {
  background-color: lightgrey;
}

.keyword {
  color: #31b0d5;
}

.action-name {
  color: red;
}

.status {
  color: darkseagreen;
}

.prev-seqrules:after {
  content: "\A";
  white-space: pre;
}

.prev-seqrules + span {
  margin-left: 10px;
}

.end-of-block:before {
  content: "\A";
  white-space: pre;
}

.deleted-elements {
  font-style: italic;
  text-decoration: line-through;
}

.programInput > .popover .popover-content {
  max-height: 200px;
  overflow-y: scroll;
}

.programInput > .popover button {
  width: 100%;
  margin: auto;
  margin-bottom: 5px;
}

.programInput > .popover button.valid-value-popover-button {
  margin-top: 5px;
}

.programInput > .popover button.delete-popover-button {
  margin-top: 10px;
}

.led {
  width: 27px; height:27px;
  margin-right: 10px;
  border: 1px solid #999999; border-radius: 20px;
}

.led-default{
  background: #999999;
}

.led-orange{
  background: #f0ad4e;
}

.led-yellow{
  background: #ffff00;
}

.progress-indicator-group {
  margin-left:5px;
  display: table;
  height:50px;
  text-align:center;
}

.progress-indicator {
  height: 50px;
  display: table-cell;
  vertical-align: middle;
  padding:3px;
}

.label-yellow{
  background: #ffff00;
  color:black;
  border: 1px solid #999999;
}

.label-value{
  padding: .2em .6em .3em;
  font-size:75%;
  line-height:1;
  font-weight:bold;
  text-decoration:underline;
}

.label-color-information {
  background: none;
  border-color: black;
  border-style: solid;
  border-width: 1px;
  color: black;
}

.lamp-color-led{
  color:transparent;
}

.emergency-stop{
  cursor:pointer;
}
.valid-program{
  background: palegreen;
}

.row {
  margin-right:0px;
}

::-webkit-scrollbar {
  width: 8px;
  background-color: rgba(0,0,0,0);
  -webkit-border-radius: 100px;
}

::-webkit-scrollbar:hover {
  background-color: rgba(0, 0, 0, 0.09);
}

::-webkit-scrollbar-thumb:vertical {
  background: rgba(0,0,0,0.05);
  -webkit-border-radius: 100px;
}
::-webkit-scrollbar-thumb:vertical:active {
  background: rgba(0,0,0,0.61); /* Some darker color when you click it */
  -webkit-border-radius: 100px;
}

/* --------------------- Home styles -----------------------------------*/

.breadcrumb-home {
  background:url(../img/home.png);
  background-size:100% 100%;
  background-repeat:no-repeat;
}

.fundamental-universe {
  position:relative;
  background:white;
  width: 100%;
  padding: 0.5em;
  display: inline-block;
  margin: 2px 2px 2px 0;
  cursor:pointer;
}

.fundamental-universe:before {
  padding-top: 100%;
  content: "";
  display: block;


  background-repeat:no-repeat;
}

.fundamental-universe.configured {
  border: solid #404040;
}

.fundamental-universe.disabled {
  background-color:#E6E6E6;
  cursor:default;
}

#universeList {
  height:100%;
}

.fundamental-block {
	float: left;
	position:relative;
	width:20%;
}

.places-icon {
	background-image: url("../img/home/place1.svg");
	background-size:100% 100%;
  height:100%;
  width:100%;
}

.devices-icon {
	background-image: url("../img/home/device1.svg");
	background-size:100% 100%;
  height:100%;
  width:100%;
}

.services-icon {
	background-image: url("../img/home/service1.svg");
	background-size:100% 100%;
  height:100%;
  width:100%;
}

.programs-icon {
	background-image: url("../img/home/program2.svg");
	background-size:100% 100%;
  height:100%;
  width:100%;
}

.users-icon {
	background-image: url("../img/home/user1.svg");
	background-size:100% 100%;
  height:100%;
  width:100%;
}

.universe-name {
  position:absolute;
  bottom:0px;
  width:100%;
  text-align:center;
}

.universe-name-input {
  text-align:inherit;
  background:transparent;
  border:0;
}

.state-stamp {
  position:absolute;
  top:10px;
  right:-20px;
  transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  background:gold;
  border: solid black;
}

.local-universes, .user-universes {
  white-space: nowrap;
  /*height:45%;*/
  overflow-x:auto;
  overflow-y:hidden;
  -webkit-overflow-scrolling: touch;
}

.circlemenu {
  position:absolute;
  bottom:50px;
  left:0px;
}

.circlemenu li:first-child {
  background:#fff;
  border-top-left-radius:0px !important;
  border-bottom-right-radius:0px !important;
  border-bottom-left-radius:0px !important;
  font-weight:bold;
  font-family:arial black;
  font-size:200%;
  border-color: #47A347;
  border-width: 2px;
  border-style: solid;
  box-shadow: 0 0 2px 1px #aaa;
}
.circlemenu li {
  background:#fff;
  color:black;
  border-color: #47A347;
  border-width: 2px;
  border-style: solid;
  font-size:25px;
  display:none;
  cursor:pointer;
}
.circlemenu li.disabled {
  background:#E6E6E6;
}
.circlemenu a{
  background:#fff;
  color:black;
  text-decoration: none;
  cursor:pointer;
}

.navmenu {
  bottom:50px;
  left:50%;
}
.navmenu li:first-child {
  background: transparent;
  border-color: transparent;
  box-shadow: none;
}

.home-menu {
  width:100%;
}

.home-menu-item {
  height:15%;
  width:25%;
  text-align:center;
}

.home-menu-image {
  height:200px;
  width:200px;
  border:10px solid black;
  border-radius:50%;
}

/* --------------------- Habitat styles --------------------------------*/

.edition-tabs {
  width: 300px;
  position: absolute;
  right: 0px;
  white-space:nowrap;
  overflow-x:scroll;
  padding:0px !important;
  background:transparent !important;
  border:0 !important;
}

.edit-palette {
  background:transparent !important;
  border:0 !important;
}

.edit-palette > li {
  width:50px;
  border-width:1px !important;
}

.edit-palette > li > a {
  width:100%;
}


.palette-contents {
  padding:0 !important;
  overflow-y:auto;
  background:transparent !important;
  border:0 !important;
}

.brick-edit-palette {
  background:#f8f8f8;
  padding:20px;
}

.brick-list-node, .brick-list-leaf {
  overflow:auto;
}

.size-edit-input {
  width:25%;
  display:inline;
}

/* --------------------- Svg Map Styles --------------------------------*/


/* --------------------- Login styles ----------------------------------*/

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/* --------------------- Places styles ---------------------------------*/

.place-details {
  font-size:5pt;
  border: 1px solid transparent;
  border-radius: 4px;
  color: #333333;
  background-color: #ffffff;
  border-color: #cccccc;
}

/* --------------------- Devices styles --------------------------------*/

.device-title {
  font-size:2pt;
}

.device-img {
    max-height: 200px;
    margin-left: auto;
    margin-right: auto;
}

.device-div-img {
    text-align: center;
    text-decoration: underline;
    color: grey;
}

.devices-list {
  width:100%;
}

.table-scale {
    margin-top: 10px;
}

.table-scale tr td {
    padding: 3px;
    width: 150px;
    text-align: center;
    font-size: small;
}
.table-scale tr td:nth-child(1) {
    background: #333333;
    color: #ffffff;
}

.table-scale tr td:nth-child(2) {
    background: #4C4C4C ;
    color: #ffffff;
}

.table-scale tr td:nth-child(3) {
    background: #666666;
    color: #ffffff;
}

.table-scale tr td:nth-child(4) {
    background: #808080;
    color: #ffffff;
}

.table-scale tr td:nth-child(5) {
    background: #999999;
    color: #ffffff;
}

.table-scale tr td:nth-child(6) {
    background: #CCCCCC;
}

.table-scale tr td:nth-child(7) {
    background: #ffffff;
}

.white-face-rect-domus {
    fill: none;
    stroke: black;
    stroke-width: 10px;
}

.white-face-svg-domus {
    width: 50%;
    margin-left: 25%;
    height: 20em;
}

.white-face-text-domus {
    text-anchor: middle;
    font-weight: bold;
}

/* --------------------- Editor styles ----------------------------------*/

.action-node-input {
  background:gray;
  border: 1px solid;
}

.method-input {
  background:blueviolet;
}

.target-input {
  background:green;
}

.indent-level-1 {
  margin-left:30px !important;
}

.indent-level-2 {
  margin-left:60px !important;
}

.indent-level-3 {
  margin-left:90px !important;
}

.editorWorkspace {
  border:0;
}

.programInput {
  height:70%;
  width: 100%;
  overflow-y: auto;
  border: 1px solid #999999;
  margin-bottom: 20px;
}

.read-only .btn-primary {
  color:#428bca !important;
  background: transparent !important;
  border: none !important;
}

.btn-prog-action {
  color:black;
  background:white !important;
}

.read-only .btn-prog-action {
  color:black !important;
  background: transparent !important;
  border: none !important;
}

.btn-prog-device {
  color:white;
  background: #9999FF !important;
}

.read-only .btn-prog-device {
  color: #9999FF !important;
  background: transparent !important;
  border: none !important;
}

.btn-prog-service {
  color:white;
  background: #9999FF !important;
}

.read-only .btn-prog-service {
  color: #9999FF !important;
  background: transparent !important;
  border: none !important;
}

.btn-prog-prog {
  color:white;
  background: #9999FF !important;
}

.read-only .btn-prog-prog {
  color: #9999FF !important;
  background: transparent !important;
  border: none !important;
}

.btn {
  box-shadow: 2px 2px 1px #888888;
}

.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
  opacity: 1;
  filter: alpha(opacity=100);
}

.read-only .btn {
  color: black;
  background: transparent;
  border: none !important;
  box-shadow: none;
}

.read-only .btn:hover,
.read-only .btn:focus {
  color: black;
  background: transparent !important;
  border: none !important;
}

.read-only .glyphicon-trash {
  display:none;
}

.btn-backspace {
  position:absolute;
  right:10px;
}

.btn-and {
  margin-left:15px !important;
}

.btn-then {
  margin-left:15px !important;
}

.link-span {
  color:#428BCA;
  font-size:14px;

}
.mandatory-spot{
  color:transparent;
  border:2px solid black !important;
}

.set-block-node {
  background-color: #F5F5F5;
  padding:2px;
  margin-top:7px;
}

.seq-block-node {
  background-color: #F1EFE7;
  padding:2px;
  margin-top:7px;
}

.set-block-header {
  background-color:#757583;
  padding-bottom:3px;
  color:white;
  text-align:center;
}

.seq-block-header {
  background-color:#997A5C;
  padding-bottom:3px;
  color:white;
  text-align:center;
}

.main-block-node {
  border:1px solid #428bca;
  padding:2px;
  margin-top:7px;
}

.main-block-node>h2 {
   margin: -10px 0px 0 20px ;
font-size: smaller;
  color: #428bca;
}

.main-block-node>h2 span {
   background-color: white;
   padding: 3px;
}

.secondary-block-node {
  border: 1px dashed #428bca;
  padding:2px;
  margin-top: 15px;
}

.secondary-block-node button {
  border: 1px dashed;
}

.secondary-block-node .btn {
  border: 1px dashed;
}

.secondary-block-node .btn.disabled {
  border: 1px dashed #ccc;
}

.secondary-block-node .btn-primary {
  background-color:85BAE7#;
}

.secondary-block-node .btn-then.disabled {
  opacity:0.5;
}

.input-spot {
  border: 1px dashed black;
}

.input-spot-then {
  border: 1px dashed white;
  background-color:#85BAE7;
}

.selected-node {
  border:4px solid black !important;
}

.expected-elements {
  position:relative;
  height:25%;
  width: 100%;
  border: 1px solid #999999;
  border-radius: 15px;
}

.expected-input {
  padding: 10px;
  background: #999999;
}

.expected-actions {
  padding:5px;
}

.expected-actions > button{
  background:white;
}

.expected-events {
  padding:5px;
}

.expected-events > button{
  color:white;
  background:#428bca;
}

.expected-links {
  padding:5px;
}

.expected-links > button{
  color:white;
  background:#428bca;
}

.expected-devices {
  padding:5px;
}

.expected-devices > button{
  color:white;
  background:#9999FF;
}

.expected-services {
  padding:5px;
}

.expected-services > button{
  color:white;
  background:#9999FF;
}

.expected-programs {
  padding:5px;
}

.expected-programs > button{
  color:white;
  background:#9999FF;
}

.btn-current {
  position:relative;
  border:0px;
  padding-right: 20px;
  display: inline-block;
}

.btn-trash {
  cursor:pointer;
}

.fix-row {
  margin-left:15px;
}

.fix-row-right {
  margin-right: -30px;
}

/* --------------------- Modal styles ----------------------------------*/

.valid-disabled.disabled {
  opacity: 0.5;
  background-color: #85BAE7;
  border-color: #85BAE7;   
}

/* --------------------- Debugger styles ----------------------------------*/

.debugger {
    margin-right: auto;
    margin-left: auto;
    width: 960px;
}
