/*-- HTML5 Boilerplate. -----------------------------------------------------*/

@import "../../vendor/bower/html5-boilerplate/css/normalize.css";
@import "../../vendor/bower/bootstrap/dist/css/bootstrap.css";
@import "../../vendor/bower/html5-boilerplate/css/main.css";
@import "../../vendor/bower/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.css";
@import "../../vendor/bower/jqueryui/themes/custom-theme/jquery-ui-1.10.4.custom.css";
@import "../../vendor/bower/appsgate.debugger/lib/themes/basic/theme.css";
@import "../../vendor/bower/alertifyjs/dist/css/alertify.css";

/*-- Application stylesheets. -----------------------------------------------*/

html {
  height: 100%;
  display: block;
}
body {
  height: 100%;
  padding-top: 100px;
  overflow: hidden;
}
body.debugMode {
  background-color: rgba(255, 0, 0, 0.11);
}
#main {
  height: 100%
}
.background-editor-img {
  width: 250px;
  display: block;
  margin: 0 auto;
}
.center-div {
  display: block;
  margin: 0 auto;
}
.clock-font {
  font-size: 72px;
}
.clock-seconds {
  font-size: 10px;
}
.div-scrollable {
  overflow-y: auto;
  margin-bottom: 20px;
  border: 1px solid #999999;
  border-radius: 4px;
  -webkit-overflow-scrolling: touch;
}
.browser-container {
  height: 250px;
  overflow-y: auto;
}
.slider-container {
  height: 14px;
  width: 150px;
}
.center {
  margin: auto !important;
}
.list-group-item > img {
  width: 50%;
  height: auto;
  margin-left: 25%;
}
.programInput > span:hover {
  background-color: lightgrey;
}
.keyword {
  color: #31b0d5;
}
.action-name {
  color: red;
}
.status {
  color: darkseagreen;
}
.prev-seqrules:after {
  content: "\A";
  white-space: pre;
}
.prev-seqrules + span {
  margin-left: 10px;
}
.end-of-block:before {
  content: "\A";
  white-space: pre;
}
.deleted-elements {
  font-style: italic;
  text-decoration: line-through;
}
.programInput > .popover .popover-content {
  max-height: 200px;
  overflow-y: scroll;
}
.programInput > .popover button {
  width: 100%;
  margin: auto;
  margin-bottom: 5px;
}
.programInput > .popover button.valid-value-popover-button {
  margin-top: 5px;
}
.programInput > .popover button.delete-popover-button {
  margin-top: 10px;
}
.led {
  width: 27px;
  height: 27px;
  margin-right: 10px;
  border: 1px solid #999999;
  border-radius: 20px;
}
.led-default {
  background: #999999;
}
.led-orange {
  background: #f0ad4e;
}
.led-yellow {
  background: #ffff00;
}
.led-processing {
	width: 0;
	height: 0;
	border-top: 12px solid transparent;
	border-bottom: 12px solid transparent;

	border-left: 17px solid #26d43b;
	margin-right: 10px;
	margin-left: 8px;
}
.led-limping {
  	width: 0;
	height: 0;
	border-top: 12px solid transparent;
	border-bottom: 12px solid transparent;

	border-left: 17px solid orange;
	margin-right: 10px;
	margin-left: 8px;
}
.led-invalid {
  width: 27px;
  height: 27px;
  margin-right: 10px;
  border: 1px solid #999999;
  border-radius: 2px;
  background: red;

}
.led-incomplete {
  width: 27px;
  height: 27px;
  margin-right: 10px;
  border: 1px solid #999999;
  border-radius: 2px;
  background: #f0ad4e;

}
.led-deployed {
  width: 27px;
  height: 27px;
  margin-right: 10px;
  border: 1px solid #999999;
  border-radius: 2px;
  background: #26d43b;

}

.label-yellow {
  background: #ffff00;
  color: black;
  border: 1px solid #999999;
}
.label-value {
  padding: .2em .6em .3em;
  font-size: 75%;
  line-height: 1;
  font-weight: bold;
  text-decoration: underline;
}
.label-color-information {
  background: none;
  border-color: black;
  border-style: solid;
  border-width: 1px;
  color: black;
}
.lamp-color-led {
  color: transparent;
}
.valid-program {
  background: palegreen;
}
.popover-div {
  text-align: center;
}
.img-service-title {
  height: 2em;
  vertical-align: middle;
}
.img-button {
  height: 1.4em;
  vertical-align: middle;
}
.btn-less-large {
  padding-left: 5px;
  padding-right: 5px;
}
.badge-number {
  background-color: #777 !important;
}
.row {
  margin-right: 0px;
}
::-webkit-scrollbar {
  width: 8px;
  background-color: rgba(0, 0, 0, 0);
  -webkit-border-radius: 100px;
}
::-webkit-scrollbar:hover {
  background-color: rgba(0, 0, 0, 0.09);
}
::-webkit-scrollbar-thumb:vertical {
  background: rgba(0, 0, 0, 0.05);
  -webkit-border-radius: 100px;
}
::-webkit-scrollbar-thumb:vertical:active {
  background: rgba(0, 0, 0, 0.61);
  /* Some darker color when you click it */

  -webkit-border-radius: 100px;
}
/* --------------------- Home styles -----------------------------------*/

.circlemenu {
  position: absolute;
  bottom: 50px;
  left: 0px;
}
.circlemenu li:first-child {
  background: #fff;
  border-top-left-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
  font-weight: bold;
  font-family: arial black;
  font-size: 200%;
  border-color: #47A347;
  border-width: 2px;
  border-style: solid;
  box-shadow: 0 0 2px 1px #aaa;
}
.circlemenu li {
  background: #fff;
  color: black;
  border-color: #47A347;
  border-width: 2px;
  border-style: solid;
  font-size: 25px;
  display: none;
  cursor: pointer;
}
.circlemenu li.disabled {
  background: #E6E6E6;
}
.circlemenu a {
  background: #fff;
  color: black;
  text-decoration: none;
  cursor: pointer;
}
#settings-modal>.modal-dialog {
	position: fixed;
	bottom: 0px;
	left: 50px;
	width: 520px;
}
.fundamental-universe {
  position: relative;
  background: white;
  width: 100%;
  padding: 0.5em;
  display: inline-block;
  cursor: pointer;
  margin: 2px 2px 2px 0;
}
.fundamental-universe:before {
  padding-top: 100%;
  content: "";
  display: block;
  background-repeat: no-repeat;
}
.fundamental-universe.configured {
  border: solid #404040;
}
.fundamental-universe.disabled {
  background-color: #E6E6E6;
  cursor: default;
}
#universeList {
  height: 100%;
}
.fundamental-block {
  float: left;
  position: relative;
	width:16.66%;
}
.places-icon {
  background-image: url("../img/home/place1.svg");
  background-size: 100% 100%;
  height: 100%;
  width: 100%;
}
.devices-icon {
  background-image: url("../img/home/device1.svg");
  background-size: 100% 100%;
  height: 100%;
  width: 100%;
}
.services-icon {
  background-image: url("../img/home/service1.svg");
  background-size: 100% 100%;
  height: 100%;
  width: 100%;
}
.programs-icon {
  background-image: url("../img/home/program2.svg");
  background-size: 100% 100%;
  height: 100%;
  width: 100%;
}
.dashboard-icon {
  background-image: url("../img/home/history.svg");
  background-size: 100% 100%;
  height: 100%;
  width: 100%;
}
.dependancies-icon {
	background-image: url("../img/home/dependancies.svg");
	background-size:100% 100%;
  height:100%;
  width:100%;
}
.universe-name {
  position: absolute;
  bottom: 0px;
  width: 100%;
  text-align: center;
}
.local-universes {
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
}
.loading-widget-wrapper {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
}
.loading-widget {
  font-size: 100px;
  width: 1em;
  height: 1em;
  position: relative;
  margin: 100px auto;
  border-radius: 50%;
  background: #FF4F72;
  background: linear-gradient(#000 50%, #fff 50%), linear-gradient(#fff 50%, #000 50%);
  background-position: 0 0, 100% 0;
  background-size: 50% 100%;
  background-repeat: no-repeat;
  box-shadow: inset 0 0 0 .12em rgba(0, 0, 0, 0.2), 0 0 0 .12em rgba(255, 255, 255, 0.1);
  opacity: 0.7;
  animation: rota 1s infinite;
  -webkit-animation: rota 1s infinite;
}
.loading-page-widget {
  top: 50%;
}
.loading-widget:after {
  content: "";
  width: 50%;
  height: 50%;
  position: absolute;
  top: 25%;
  left: 25%;
  border: .12em solid rgba(255, 255, 255, 0.3);
  border-radius: inherit;
}
.refresh-animate {
  -webkit-animation: rotation 1s infinite linear;
  animation: rotation 1s infinite linear;
}
@-webkit-keyframes rota {
  10% {
    transform: rotate(36deg);
  }
  20% {
    transform: rotate(72deg);
  }
  30% {
    transform: rotate(108deg);
  }
  40% {
    transform: rotate(144deg);
  }
  50% {
    transform: rotate(180deg);
  }
  60% {
    transform: rotate(216deg);
  }
  70% {
    transform: rotate(252deg);
  }
  80% {
    transform: rotate(288deg);
  }
  90% {
    transform: rotate(324deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rota {
  10% {
    transform: rotate(36deg);
  }
  20% {
    transform: rotate(72deg);
  }
  30% {
    transform: rotate(108deg);
  }
  40% {
    transform: rotate(144deg);
  }
  50% {
    transform: rotate(180deg);
  }
  60% {
    transform: rotate(216deg);
  }
  70% {
    transform: rotate(252deg);
  }
  80% {
    transform: rotate(288deg);
  }
  90% {
    transform: rotate(324deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotation {
  from { transform: scale(1) rotate(0deg);}
  to { transform: scale(1) rotate(360deg);}
}
@-webkit-keyframes rotation {
  from { -webkit-transform: rotate(0deg);}
  to { -webkit-transform: rotate(360deg);}
}

.appsgate-title {
  width: 100%;
  text-align: center;
  color: rgba(68, 50, 79, 0.12);
  font-size: xx-large;
}
/* --------------------- Places styles ---------------------------------*/

.place-details {
  font-size: 5pt;
  border: 1px solid transparent;
  border-radius: 4px;
  color: #333333;
  background-color: #ffffff;
  border-color: #cccccc;
}
/* --------------------- Devices styles --------------------------------*/

.device-title {
  font-size: 2pt;
}
.device-img {
  max-height: 200px;
  margin-left: auto;
  margin-right: auto;
}
.device-div-img {
  text-align: center;
  text-decoration: underline;
  color: grey;
}
.devices-list {
  width: 100%;
}
.table-scale {
  margin-top: 10px;
}
.table-scale tr td {
  padding: 3px;
  width: 150px;
  text-align: center;
  font-size: small;
}
.table-scale tr td:nth-child(1) {
  background: #4C4C4C;
  color: #ffffff;
}
.table-scale tr td:nth-child(2) {
  background: #808080;
  color: #ffffff;
}
.table-scale tr td:nth-child(3) {
  background: #999999;
  color: #ffffff;
}
.table-scale tr td:nth-child(4) {
  background: #CCCCCC;
}
.table-scale tr td:nth-child(5) {
  background: #ffffff;
}
.white-face-rect-domus {
  fill: none;
  stroke: black;
  stroke-width: 10px;
}
.white-face-svg-domus {
  width: 50%;
  margin-left: 25%;
  height: 20em;
}
.white-face-text-domus {
  text-anchor: middle;
  font-weight: bold;
}
/* --------------------- Editor styles ----------------------------------*/
.editor-header {
  margin-left:0px;
}
.action-node-input {
  background: gray;
  border: 1px solid;
}
.method-input {
  background: blueviolet;
}
.target-input {
  background: green;
}
.indent-level-1 {
  margin-left: 30px !important;
}
.indent-level-2 {
  margin-left: 60px !important;
}
.indent-level-3 {
  margin-left: 90px !important;
}
.editorWorkspace {
  border: 0;
  position: relative;
}
.editorWorkspace .btn:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.editorWorkspace .btn:hover,
.editorWorkspace .btn:focus {
  color: #333 !important;
  background-color: #ebebeb !important;
  border-color: #adadad !important;
}
.programInput {
  height: 70%;
  width: 100%;
  overflow-y: auto;
  border: 1px solid #999999;
  margin-bottom: 20px;
}
.editorWorkspace .btn-primary {
  color: white;
  background: #284476 !important;
}
.editorWorkspace .read-only .btn-primary {
  color: #284476 !important;
  background: transparent !important;
  border: none !important;
}
.editorWorkspace .read-only .btn-primary:hover {
  color: #284476 !important;
}
.btn-prog-action {
  color: white;
  background: rgb(176, 125, 216) !important;
}
.read-only .btn-prog-action {
  color: rgb(176, 125, 216) !important;
  background: transparent !important;
  border: none !important;
}
.read-only .btn-prog-action:hover{
  color: rgb(176,125,216) !important;
}
.btn-prog-device,
.btn-prog-service {
  color: white;
  background: #0F4AB3 !important;
}
.read-only .btn-prog-device,
.read-only .btn-prog-service {
  color: #0F4AB3 !important;
  background: transparent !important;
  border: none !important;
}
.missing-device{
  color:red;
  cursor:help;
}
.read-only .btn-prog-device:hover,
.read-only .btn-prog-service:hover {
  color: #0F4AB3 !important;
}
.btn-prog-select {
  color: white;
  background: #0F4AB3 !important;
}
.read-only .btn-prog-select {
  color: #0F4AB3 !important;
  background: transparent !important;
  border: none !imporant;
}
.read-only .btn-prog-select:hover {
  color: #0F4AB3 !important;
}
.btn-prog-prog {
  color: white;
  background: #9999FF !important;
}
.btn-prog-absent {
  color: white;
  background-color: red;
}
.btn-prog-invalid {
  color: white;
  background-color: red;
}
.btn-prog-incomplete {
  color: white;
  background-color:#f0ad4e;
}
.read-only .btn-prog-prog {
  color: #9999FF !important;
  background: transparent !important;
  border: none !important;
}
.read-only .btn-prog-prog:hover {
  color: #9999FF !important;
}
.btn {
  box-shadow: 2px 2px 1px #888888;
}
.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
  opacity: 1;
  filter: alpha(opacity=100);
}
.read-only .btn {
  color: black;
  background: transparent;
  border: none !important;
  box-shadow: none;
  cursor: default;
}
.read-only .btn-prog-absent {
  color: red;
  font-weight: 700;
}
.read-only .btn-prog-invalid {
  color: red;
  font-weight: 700;
}
.read-only .btn-prog-incomplete {
  color: #f0ad4e;
  font-weight: 700;
}
.read-only .btn:hover,
.read-only .btn:focus {
  background: transparent !important;
  border: none !important;
}
.read-only .glyphicon-trash {
  display: none;
}
.btn-backspace {
  position: absolute;
  right: 10px;
}
.btn-and {
  margin-left: 15px !important;
}
.btn-then {
  margin-left: 15px !important;
}
.separator-hidden {
  opacity: 0 !important;
  height: 0px !important;
}
.link-span {
  color: #284476;
  font-size: 14px;
}
.mandatory-spot {
  color: transparent;
  border: 2px solid black !important;
}
.rules-node {
  background-color: #F5F5F5 !important;
}
.set-block-node {
  background-color: #F5F5F5;
  padding: 2px;
  margin-top: 7px;
  border: 1px solid #284476
}
.seq-block-node {
  background-color: #F9F5E6;
  padding: 2px;
  margin-top: 7px;
  border: 1px solid #284476
}
.set-block-header {
  background-color: #284476;
  padding-bottom: 3px;
  color: white;
  text-align: center;
}
.seq-block-header {
  background-color: #284476;
  padding-bottom: 3px;
  color: white;
  text-align: center;
}
.main-block-node {
  border: 1px solid #428bca;
  padding: 2px;
  margin-top: 7px;
}
.main-block-node>h2 {
  margin: -10px 0px 0 20px;
  font-size: smaller;
  color: #428bca;
}
.main-block-node>h2 span {
  background-color: white;
  padding: 3px;
}
.main-block-node>h2 {
  margin: -10px 0px 0 20px;
  font-size: smaller;
  color: #428bca;
}
.main-block-node>h2 span {
  background-color: white;
  padding: 3px;
}
.secondary-block-node {
  border: 1px dashed #428bca;
  padding: 2px;
  margin-top: 15px;
}
.secondary-block-node button {
  border: 1px dashed;
}
.secondary-block-node .btn {
  border: 1px dashed;
}
.secondary-block-node .btn.disabled {
  border: 1px dashed #ccc;
}
.secondary-block-node .btn-primary {
  background-color: 85BAE7#;
}
.secondary-block-node .btn-then.disabled {
  opacity: 0.5;
}
.input-spot {
  border: 1px dashed black;
}
.input-spot-then {
  border: 1px dashed white;
  background-color: #85BAE7;
}
.selected-node {
  border: 4px solid black;
  -webkit-animation: blinking 0.5s infinite alternate cubic-bezier(1, 0, 0, 1);
  animation: blinking 0.5s infinite alternate cubic-bezier(1, 0, 0, 1);
}
@-webkit-keyframes blinking {
  from {
    border: 4px solid black;
  }
  to {
    border: 4px solid transparent;
  }
}
@-keyframes blinking {
  from {
    border: 4px solid red;
  }
  to {
    border: 4px solid transparent;
  }
}
.inactive-node {
  border: 4px solid red !important;
}
.read-only .inactive-node,
.read-only .inactive-node .btn-prog,
.read-only .inactive-node .btn-prog:hover{
  color: red !important;
}
.inactive-node.selected-node {
  -webkit-animation: redblinking 0.5s infinite alternate cubic-bezier(1, 0, 0, 1) ;
  animation: redblinking 0.5s infinite alternate cubic-bezier(1, 0, 0, 1);
}
@-keyframes redblinking {
  from {
    border: 4px solid black;
  }
  to {
    border: 4px solid transparent;
  }
}
@-webkit-keyframes redblinking {
  from {
    border: 4px solid red;
  }
  to {
    border: 4px solid transparent;
  }
}
.expected-elements {
  position: relative;
  height: 25%;
  width: 100%;
  border: 1px solid #999999;
  border-radius: 15px;
}
.expected-input {
  padding: 10px;
  background: #999999;
  overflow-y: auto;
}
.expected-input .row {
  margin: 0px;
}
.expected-actions {
  padding: 5px;
}
.expected-actions button {
  color: white;
  background: rgb(176, 125, 216);
}
.expected-events {
  padding: 5px;
}
.expected-events button {
  color: white;
  background: rgb(176, 125, 216);
}
.expected-links {
  padding: 5px;
}
.expected-links button {
  color: white;
  background: #284476;
}
.expected-devices {
  padding: 5px;
}
.expected-devices button {
  color: white;
  background: #0F4AB3;
}
.expected-services {
  padding: 5px;
}
.expected-services button {
  color: white;
  background: #0F4AB3;
}
.expected-programs {
  padding: 5px;
}
.expected-programs button {
  color: white;
  background: #0F4AB3;
}
button.program-invalid{
  color: red;
}
button.program-incomplete{
  color: #f0ad4e;
}
.btn-current {
  position: relative;
  border: 0px;
  padding-right: 20px;
  display: inline-block;
  vertical-align: middle;
}
.highlight-placeholder {
  color: rgb(240, 197, 250);
}
.btn-trash {
  cursor: pointer;
}
.fix-row {
  margin-left: 15px;
}
.fix-row-right {
  margin-right: -30px;
}
.deactivate-all-programs-button {
  width: 100%;
  margin-bottom: 15px;
}
.read-only .debugActivated {
  border: thin solid red !important;
  background-color: yellow !important;
}
/* --------------------- Modal styles ----------------------------------*/

.valid-disabled.disabled {
  opacity: 0.5;
  background-color: #85BAE7;
  border-color: #85BAE7;
}
/* --------------------- Debugger styles ----------------------------------*/

.ui-autocomplete {
  position: absolute;
  cursor: default;
  z-index: 1300 !important;
}

.debugger, .debugger-toolbar {
    margin-right: auto;
    margin-left: auto;
    width: 980px;
}

.debugger-toolbar {
    margin-bottom: 30px;
}

.debugger .scrollable {
    border: none;
}

.debugger-toolbar .btn {
  box-shadow: none !important;
}

/*.debugger .dashboard > header {*/
    /*position: fixed;*/
/*}*/

.ui-autocomplete { position: absolute; cursor: default;z-index:1300 !important;}

.active-node-indicator {
  width: 100%;
  position: absolute;
  background-color: #5bc0de;
  opacity: 0.3;
  height: 32px;
}
.progress-indicator-group {
  background-color: rgba(201, 239, 222, 0.85);
  border-radius: 1000px;
  border: 1px solid black;
  width: auto;
  height: 20px;
}
.progress-indicator {
  padding: 1px;
}
.progress-true-false-indicator {
  padding: 5px;
  border-radius: 0px 10px 0px 0px;
  background: white;
}
.progress-true-indicator {
  border: 2px solid green;
  color: green;
}
.progress-false-indicator {
  border: 2px solid red;
  color: red;
}
/* --------------------- Dependancy styles ----------------------------------*/

#graph {
    text-align: center;
}
#graph svg {
    background: beige;
}
/* Links */
#graph path.link {
    fill: none;
    stroke: #666;
    stroke-width: 1.25px;
}
#graph path.linkText {
    fill: none;
    stroke: none;
}
#graph path.important-path {
    stroke: red;
}
#graph marker#targetingRefFocus, #graph marker#targeting {
    fill: red;
}
/* Default text */
#graph text.label-name {
    text-anchor: middle;
    font-family: sans-serif;
    font-size: 12px;
}
/* Default circle */
#graph g>circle {
    fill: white;
    stroke: black;
    stroke-width: 1px;
}
/* Opacity */
.node-0 {
    opacity: 1;
}
.node-1 {
    opacity: 1;
}
.node-2 {
    opacity: 1;
}
.node-more {
    opacity: 0.25;
}
.node-more.nodeOver {
    opacity: 1;
}
.node-more.neighborNodeOver {
    opacity: 1;
}
/* MouseOver */
#graph g>.nodeGroup.nodeOver>.circleNode {
    fill: #4ac6dd;
    stroke-width: 2px;
}
#graph g>.nodeGroup.nodeOver>text {
    font-weight: bold;
}
#graph g>.nodeGroup.nodeOver>image {
    cursor: pointer;
}
/* MouseOver Neighbors */
#graph g>.nodeGroup.neighborNodeOver>.circleNode {
    fill: #4ac6dd;
    stroke-width: 2px;
/*    stroke-dasharray: 7, 7;*/
}
#graph g>.nodeGroup.neighborNodeOver>text {
    font-weight: bold;
}
/* Fixed nodes */
#graph g>.nodeGroup.fixedNode>.circleNode {
    stroke-width: 2px;
    stroke-dasharray: 3;
}
/* Root */
#graph g>.nodeGroup.nodeRoot>text {
    font-weight: bold;
    font-size: 100%;
}
#graph g>circle.circleNode.program-multiple-writing-reference {
	stroke: red;
	stroke-width: 2px;
}
/* Filters */
.checkbox-container {
    display: block;
    margin-left: 10px;
}

#entitiesGroupFilter>div>div>div>div>div>label>input, #entitiesGroupFilter>div>div>label>input, #relationsGroupFilter>div>label>input {
	margin-right: 5px;
}

.filter-svg-arrow {
	width: 20px;
	height: 10px;
}

.filter-arrow {
	stroke-width: 2px;
	stroke: black;
	margin-left: 15px;
}

.reference-filter {
	stroke: red;
	fill: red;
}

#graph g>circle.program-invalid, .program-invalid {
	fill: red;
}

#graph g>circle.program-deployed, .program-deployed, #graph g>circle.program-processing, .program-processing  {
	fill: #26d43b;
}

#graph g>circle.program-limping, .program-limping, #graph g>circle.program-incomplete, .program-incomplete {
	fill: orange;
}

#graph g>.circle-information {
	fill: black;
	stroke: transparent;
	stroke-width: 10px;
	cursor: pointer;
}

.shape-program {
	stroke: black;
}

#graph g>.circle-device-state-true, .circle-device-state-true {
	fill: #ffff00;
}

#graph g>.circle-device-state-false, .circle-device-state-false {
	fill: #777;
}

#graph g>.ghost-decoration, .ghost-decoration  {
	stroke: blue;
	stroke-width: 2px;
}

#graph-caption {
	margin-top: 20px;
}

#graph-action {
	margin-bottom: 0px;
}

.caption-drawing {
	vertical-align: bottom;
}

.caption-label-drawing {
	margin-left: 3px;
}

.caption-subfilter-label {
	font-size: smaller;
}

.help-div {
	font-style : normal;
	text-align: left;
	font-size: 14px;
}

.help-div-title {
	font-size: 18px;
	font-style: normal;
	font-weight: bold;
} 

#graph > .loading-widget {
	display: none;
	width: 0.4em;
	height: 0.4em;
	position: absolute;
	bottom: 0px;
	right: 0px;
	margin-bottom: 30px;
	margin-right: 30px;
}

.subfilter-title a:after {
    font-family:'Glyphicons Halflings';
	font-size: 70%;
    content:"\e114";
    float: left;
	margin-right: 5px;
    color: grey;
}
.subfilter-title a.collapsed:after {
    content:"\e080";
}