<a href="#devices/types/<%= type %>" class="list-group-item <% if (active) { %> active <% } %>" id="side-<%= type %>">

	<table class="devices-list">
		<tr>
			<td style="width:90%"/>
			<td style="width:10%"/>
		</tr>
		<!-- header -->
		<tr>
			<td>
			<p class="list-group-item-heading lead">
					<span data-i18n="<%= typeLabel %>"></span>
			</p>
	</td>
	<td>
		<span class="badge badge-number">
			<%= devices.length %>
		</span>
	</td>

	<!-- body -->
    <!--  Located Devices  -->
	<% places.forEach(function(place) { %>
		<% if (place.getTypeSensors(type).length > 0 && place.getName() !== $.i18n.t("places-menu.unlocated-devices")) { %>
			<tr>
				<td>
				<%= place.getName() %>
				<% if (type === "0") { %>
                    <span class="label-value"><%= place.getAverageTemperature() %> &deg;C</span>
				<% } else if (type === "1") { %>
					<span class="label-value"><%= place.getAverageIllumination() %> Lux</span>
				<% } else if (type === "6") { %>
					<span class="label-value"><%= place.getTotalConsumption() %> W</span>
				<% } %>
				</td>
				<td>
					<span class="badge badge-number">
						<%= place.getTypeSensors(type).length %>
					</span>
				</td>
			</tr>
		<% } %>
	<% }) %>
    <!--  Unlocated Devices  -->
    <% places.forEach(function(place) { %>
		<% if (place.getTypeSensors(type).length > 0 && place.getName() === $.i18n.t("places-menu.unlocated-devices")) { %>
			<tr>
				<td>
                <%= place.getName() %>
				<% if (type === "0") { %>
                    <span class="label-value"><%= place.getAverageTemperature() %> &deg;C</span>
				<% } else if (type === "1") { %>
					<span class="label-value"><%= place.getAverageIllumination() %> Lux</span>
				<% } else if (type === "6") { %>
                        <span class="label-value"><%= place.getTotalConsumption() %> W</span>
				<% } %>
				</td>
				<td>
					<span class="badge badge-number">
						<%= place.getTypeSensors(type).length %>
					</span>
				</td>
			</tr>
		<% } %>
	<% }) %>
	</table>
</a>
