<a href="#devices/types/<%= type %>" class="list-group-item <% if (active) { %> active <% } %>" id="side-<%= type %>">

	<table class="devices-list">
		<tr>
			<td style="width:90%"/>
			<td style="width:10%"/>
		</tr>
		<!-- header -->
		<tr>
			<td>
			<p class="list-group-item-heading lead">
			<% if (type === "0") { %>
				<% if (devices.length === 1) { %>
					<span data-i18n="devices.temperature.name.singular"></span>
				<% } else { %>
					<span data-i18n="devices.temperature.name.plural"></span>
				<% } %>
			<% } else if (type === "1") { %>
				<% if (devices.length === 1) { %>
					<span data-i18n="devices.illumination.name.singular"></span>
				<% } else { %>
					<span data-i18n="devices.illumination.name.plural"></span>
				<% } %>
			<% } else if (type === "2") { %>
				<% if (devices.length === 1) { %>
					<span data-i18n="devices.switch.name.singular"></span>
				<% } else { %>
					<span data-i18n="devices.switch.name.plural"></span>
				<% } %>
			<% } else if (type === "3") { %>
				<% if (devices.length === 1) { %>
					<span data-i18n="devices.contact.name.singular"></span>
				<% } else { %>
					<span data-i18n="devices.contact.name.plural"></span>
				<% } %>
			<% } else if (type === "4") { %>
				<% if (devices.length === 1) { %>
					<span data-i18n="devices.keycard-reader.name.singular"></span>
				<% } else { %>
					<span data-i18n="devices.keycard-reader.name.plural"></span>
				<% } %>
			<% } else if (type === "5") { %>
				<% if (devices.length === 1) { %>
					<span data-i18n="devices.ard.name.singular"></span>
				<% } else { %>
					<span data-i18n="devices.ard.name.plural"></span>
				<% } %>
			<% } else if (type === "6") { %>
				<% if (devices.length === 1) { %>
					<span data-i18n="devices.plug.name.singular"></span>
				<% } else { %>
					<span data-i18n="devices.plug.name.plural"></span>
				<% } %>
			<% } else if (type === "7") { %>
				<% if (devices.length === 1) { %>
					<span data-i18n="devices.lamp.name.singular"></span>
				<% } else { %>
					<span data-i18n="devices.lamp.name.plural"></span>
				<% } %>
			<% } else if (type === "8") { %>
				<% if (devices.length === 1) { %>
					<span data-i18n="devices.actuator.name.singular"></span>
				<% } else { %>
					<span data-i18n="devices.actuator.name.plural"></span>
				<% } %>
			<% } else if (type === "31") { %>
				<% if (devices.length === 1) { %>
					<span data-i18n="devices.mediaplayer.name.singular"></span>
				<% } else { %>
					<span data-i18n="devices.mediaplayer.name.plural"></span>
				<% } %>
			<% } else if (type === "210") { %>
				<% if (devices.length === 1) { %>
					<span data-i18n="devices.domicube.name.singular"></span>
				<% } else { %>
					<span data-i18n="devices.domicube.name.plural"></span>
				<% } %>
			<% } %>
			</p>
	</td>
	<td>
		<span class="badge">
			<%= devices.length %>
		</span>
	</td>

	<!-- body -->
    <!--  Located Devices  -->
	<% places.forEach(function(place) { %>
		<% if (place.getTypeSensors(type).length > 0 && place.getName() !== $.i18n.t("places-menu.unlocated-devices")) { %>
			<tr>
				<td>
				<%= place.getName() %>
				<% if (type === "0") { %>

                    <% if(place.getAverageTemperature()=="999") { %>
                    <span class="label-value">---&deg;C</span>
                    <% } else { %>
                    <span class="label-value"><%= Math.round(place.getAverageTemperature()) %>&deg;C</span>
                    <% } %>

				<% } else if (type === "1") { %>
					<span class="label-value"><%= place.getAverageIllumination() %> Lux</span>
				<% } else if (type === "6") { %>
					<span class="label-value"><%= place.getTotalConsumption() %> W</span>
				<% } %>
				</td>
				<td>
					<span class="badge">
						<%= place.getTypeSensors(type).length %>
					</span>
				</td>
			</tr>
		<% } %>
	<% }) %>
    <!--  Unlocated Devices  -->
    <% places.forEach(function(place) { %>
		<% if (place.getTypeSensors(type).length > 0 && place.getName() === $.i18n.t("places-menu.unlocated-devices")) { %>
			<tr>
				<td>
                <%= place.getName() %>
				<% if (type === "0") { %>

                    <% if(place.getAverageTemperature()=="999") { %>
                    <span class="label-value">---&deg;C</span>
                    <% } else { %>
                    <span class="label-value"><%= Math.round(place.getAverageTemperature()) %>&deg;C</span>
                    <% } %>

				<% } else if (type === "1") { %>
					<span class="label-value"><%= place.getAverageIllumination() %> Lux</span>
				<% } else if (type === "6") { %>
					<span class="label-value"><%= place.getTotalConsumption() %> W</span>
				<% } %>
				</td>
				<td>
					<span class="badge">
						<%= place.getTypeSensors(type).length %>
					</span>
				</td>
			</tr>
		<% } %>
	<% }) %>
	</table>
</a>
