<div class="appsgate-title">AppsGate</div>
<div id="universeList" class="container">
	<div class="row local-universes">
        <div class="fundamental-block">
            <div id="dependancies" class="fundamental-universe disabled dependancies-icon">
            </div>
            <div class="universe-name">
                	<span class="universe-name-input" data-i18n="navbar.dependancies"></span>
            </div>
        </div>
		<div class="fundamental-block">
            <div id="debugger" class="fundamental-universe disabled dashboard-icon">
            </div>
            <div class="universe-name">
                	<span class="universe-name-input" data-i18n="navbar.debugger"></span>
            </div>
        </div>
        <div class="fundamental-block">
            <div id="places" class="fundamental-universe disabled places-icon">
            </div>
            <div class="universe-name">
               <span class="universe-name-input" data-i18n="navbar.places"></span>
            </div>
        </div>
        <div class="fundamental-block">
            <div id="devices" class="fundamental-universe disabled devices-icon">
            </div>
            <div class="universe-name">
              <span class="universe-name-input" data-i18n="navbar.devices"></span>
            </div>
        </div>
        <div class="fundamental-block">
            <div id="services" class="fundamental-universe disabled services-icon">
            </div>
            <div class="universe-name">
               <span class="universe-name-input" data-i18n="navbar.services"></span>
            </div>
       </div>
       <div class="fundamental-block">
            <div id="programs" class="fundamental-universe disabled programs-icon">
            </div>
            <div class="universe-name">
               <span class="universe-name-input" data-i18n="navbar.programs"></span>
            </div>
			 </div>
	</div>
	<div class="row">
		<div class="loading-widget">
		</div>
	</div>
</div>
