<div class="navbar navbar-fixed-top navbar-default" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<ol class="breadcrumb navbar-brand">
			</ol>
		</div>
		<div class="emergency-stop" onclick="devices.emergencyStop();programs.stopAllPrograms()">
			<img src="app/img/signal-stop.png" class="img-responsive">
		</div>
        <div class="nav navbar-nav pull-right">
            <a href="#debugger/all" class="btn btn-default"><i class="glyphicon glyphicon-eye-open"/> <span data-i18n="navbar.debugger"/></a>
        </div>
	</div>
</div>
