<nav class="navbar navbar-fixed-top navbar-default" role="navigation">
		<div class="container">
			<ul class="nav nav-tabs visible-xs">
				<li class="nav-item dependancies-nav"><a href="#dependancies"><span data-i18n="navbar.dependancies"/></a></li>
				<li class="nav-item home-nav active"><a href="#dashboard"><span data-i18n="navbar.debugger"/></a></li>
				<li class="nav-item places-nav"><a href="#places"><span data-i18n="navbar.places"/></a></li>
				<li class="nav-item devices-nav"><a href="#devices"><span data-i18n="navbar.devices"/></a></li>
				<li class="nav-item services-nav"><a href="#services"><span data-i18n="navbar.services"/></a></li>
				<li class="nav-item programs-nav"><a href="#programs"><span data-i18n="navbar.programs"/></a></li>
			</ul>
			<ul class="nav nav-tabs nav-justified hidden-xs">
				<li class="nav-item dependancies-nav"><a href="#dependancies"><span data-i18n="navbar.dependancies"/></a></li>
				<li class="nav-item home-nav active"><a href="#dashboard"><span data-i18n="navbar.debugger"/></a></li>
				<li class="nav-item places-nav"><a href="#places"><span data-i18n="navbar.places"/></a></li>
				<li class="nav-item devices-nav"><a href="#devices"><span data-i18n="navbar.devices"/></a></li>
				<li class="nav-item services-nav"><a href="#services"><span data-i18n="navbar.services"/></a></li>
				<li class="nav-item programs-nav"><a href="#programs"><span data-i18n="navbar.programs"/></a></li
			</ul>
		</div>
</nav>
