<div class="list-group scrollable div-scrollable">
	<div id="filterContainerNodes" class="list-group-item">
		<input type="checkbox" id="checkbox-all-entities"></input><span class="list-group-item-heading lead" data-i18n="dependancy.filters-label.entity.title"></span>
	</div>
	<div id="filterContainerLinks" class="list-group-item">
		<input type="checkbox" id="checkbox-all-relations"></input><span class="list-group-item-heading lead" data-i18n="dependancy.filters-label.relation.title"></span>
	</div>

	<div id="graph-caption" class="list-group-item">
		<span class="list-group-item-heading lead" data-i18n="dependancy.caption.title-device"></span>
		<ul>
			<!-- Device On -->
			<li>
				<svg height="25" width="25">
					<g>
						<circle cx="12" cy="12" r="8" stroke="black" class="circle-device-state-true" />
					</g>
				</svg>
				<span class="caption-label" data-i18n="dependancy.caption.device-on"></span>
			</li>
			<!-- Device Off -->
			<li>
				<svg height="25" width="25">
					<g>
						<circle cx="12" cy="12" r="8" stroke="black" class="circle-device-state-false" />
					</g>
				</svg>
				<span class="caption-label" data-i18n="dependancy.caption.device-off"></span>
			</li>
			<span class="list-group-item-heading lead" data-i18n="dependancy.caption.title-program"></span>
			<!-- Program On -->
			<li>
				<svg height="25" width="25">
					<g>
						<path d="M5,5L20,13L5,20L5,5" stroke="black" fill="transparent" />
					</g>
				</svg>
				<span class="caption-label" data-i18n="dependancy.caption.running-program"></span>
			</li>
			<!-- Program Off -->
			<li>
				<svg height="25" width="25">
					<g>
						<rect x="5" y="5" height="15" width="15" stroke="black" fill="transparent"/>
					</g>
				</svg>
				<span class="caption-label" data-i18n="dependancy.caption.stopped-program"></span>
			</li>
			<!-- Program Valid -->
			<li>
				<svg height="25" width="25">
					<g>
						<path d="M 0,12 C 8,0 16,25 25,12" stroke-width="5" fill="transparent" stroke="red" />
					</g>
				</svg>
				<span class="caption-label" data-i18n="dependancy.caption.invalid-program"></span>
			</li>
			<!-- Program Unstable -->
			<li>
				<svg height="25" width="25">
					<g>
						<path d="M 0,12 C 8,0 16,25 25,12" stroke-width="5" fill="transparent" stroke="orange" />
					</g>
				</svg>
				<span class="caption-label" data-i18n="dependancy.caption.incomplete-program"></span>
			</li>
			<!-- Program Invalid -->
			<li>
				<svg height="25" width="25">
					<g>
						<path d="M 0,12 C 8,0 16,25 25,12" stroke-width="5" fill="transparent" stroke="#26d43b" />
					</g>
				</svg>
				<span class="caption-label" data-i18n="dependancy.caption.valid-program"></span>
			</li>
		</ul>
	</div>
</div>