<div class="list-group scrollable div-scrollable">
<!--
	 <div id="filterContainerNodes" class="list-group-item">
		<input type="checkbox" id="checkbox-all-entities"></input><span class="list-group-item-heading lead" data-i18n="dependancy.filters-label.entity.title"></span>
	</div>
	<div id="filterContainerLinks" class="list-group-item">
		<input type="checkbox" id="checkbox-all-relations"></input><span class="list-group-item-heading lead" data-i18n="dependancy.filters-label.relation.title"></span>
	</div>

	<div id="graph-caption" class="list-group-item">
		<span class="list-group-item-heading lead" data-i18n="dependancy.caption.title-device"></span>
		<ul>
			<li>
				<svg height="25" width="25">
					<g>
						<circle cx="12" cy="12" r="8" stroke="black" class="circle-device-state-true" />
					</g>
				</svg>
				<span class="caption-label" data-i18n="dependancy.caption.device-on"></span>
			</li>
			<li>
				<svg height="25" width="25">
					<g>
						<circle cx="12" cy="12" r="8" stroke="black" class="circle-device-state-false" />
					</g>
				</svg>
				<span class="caption-label" data-i18n="dependancy.caption.device-off"></span>
			</li>
			<li>
				<svg height="25" width="25">
					<g>
						<circle cx="12" cy="12" r="11" stroke="red" stroke-width="2px" fill="white" />
					</g>
				</svg>
				<span class="caption-label" data-i18n="dependancy.caption.device-multiple-reference"></span>
			</li>
			<span class="list-group-item-heading lead" data-i18n="dependancy.caption.title-program"></span>
			<li>
				<svg height="25" width="25">
					<g>
						<path d="M5,5L20,13L5,20L5,5" stroke="black" fill="transparent" />
					</g>
				</svg>
				<span class="caption-label" data-i18n="dependancy.caption.running-program"></span>
			</li>
			<li>
				<svg height="25" width="25">
					<g>
						<rect x="5" y="5" height="15" width="15" stroke="black" fill="transparent" />
					</g>
				</svg>
				<span class="caption-label" data-i18n="dependancy.caption.stopped-program"></span>
			</li>
			<li>
				<svg height="25" width="25">
					<g>
						<path d="M 0,12 C 8,0 16,25 25,12" stroke-width="5" fill="transparent" stroke="red" />
					</g>
				</svg>
				<span class="caption-label" data-i18n="dependancy.caption.invalid-program"></span>
			</li>
			<li>
				<svg height="25" width="25">
					<g>
						<path d="M 0,12 C 8,0 16,25 25,12" stroke-width="5" fill="transparent" stroke="orange" />
					</g>
				</svg>
				<span class="caption-label" data-i18n="dependancy.caption.incomplete-program"></span>
			</li>
			<li>
				<svg height="25" width="25">
					<g>
						<path d="M 0,12 C 8,0 16,25 25,12" stroke-width="5" fill="transparent" stroke="#26d43b" />
					</g>
				</svg>
				<span class="caption-label" data-i18n="dependancy.caption.valid-program"></span>
			</li>
		</ul>
	</div>
-->


	<div class="panel panel-default" id="entitiesGroupFilter">
		<div class="panel-heading">
			<h4 class="panel-title">Entités</h4>
		</div>
<!--
		<div class="row">
			<div class="col-md-11 col-md-offset-1">Temps</div>
			<div class="col-md-11 col-md-offset-1">Lieux de vie</div>
			<div class="col-md-11 col-md-offset-1">Services</div>
			<div class="col-md-10 col-md-offset-2" id="panel1">
				<div class="subfilter-title">
					<h4><a data-toggle="collapse" data-target="#collapseOne">Types</a></h4>
				</div>
				<div id="collapseOne" class="panel-collapse collapse in">
					<div class="row">
						<div class="col-md-11 col-md-offset-1">Lampe</div>
						<div class="col-md-11 col-md-offset-1">Prise</div>
					</div>
				</div>
			</div>
			<div class="col-md-10 col-md-offset-2" id="panel2">
				<div class="subfilter-title">
					<h4><a data-toggle="collapse" data-target="#collapse2">Etat</a></h4>
				</div>
				<div id="collapse2" class="panel-collapse collapse in">
					<div class="row">
						<div class="col-md-11 col-md-offset-1">Disparu</div>
						<div class="col-md-11 col-md-offset-1">On</div>
					</div>
				</div>
			</div>
		</div>
-->
	</div>

	<div class="panel panel-default" id="relationsGroupFilter">
		<div class="panel-heading">
			<h4 class="panel-title">Relations</h4>
		</div>


	</div>

</div>