<table class="tabular decorations">
	<tr>
		<th colspan="2"><%- name %></th>
	</tr>
<% _.forEach(decorations, function(decoration) { %>
    <tr>
        <td class="decoration-head">

        <div class="picto picto-<%- decoration.picto %>">
			<%
				if(decoration.context !== undefined && decoration.context.rgbcolor !== undefined) { %>
				<span class="decoColor" style="background-color: <%- decoration.context.rgbcolor %>">X</span>
			<% } %>

		</div>
            <div class="datetime">
                <span class="date"><%- timeFormat('%x')(new Date(decoration.time))%></span>
                <span class="time"><%- timeFormat('%X')(new Date(decoration.time))%></span>
            </div>
        </td>
        <td class="decoration-body">
			<% var obj = {} ;
			if (decoration.context) {
				colorspan = ""
				if (decoration.context.boolean !== undefined) {
					if (decoration.context.boolean) {
						if ( ! decoration.description.endsWith(".on")) {
							decoration.description += ".on";
						}
					} else {
						if ( ! decoration.description.endsWith(".off")) {
							decoration.description += ".off";
						}
					}
				}
				obj = decoration.context;
			}
			obj["ns"] = options.i18n.ns;
			obj["program"] = decoration.programName;
			obj["device"] = decoration.deviceName;%>
            <div class="description"><%- i18n.t(decoration.description, obj ) %>
				<% if (decoration.causality == "technical") { %>
                <span class="causality"> (<%- i18n.t("decorations.technicalCausality", obj) %>)</span>
				<% } %>
            </div>

			</div>
        </td>
    </tr>
<% }); %>
</table>
