<li class="list-group-item">
    <strong data-i18n="devices.ard.last-card"></strong>
    <div class="pull-right label label-default">
        <%= device.get('lastCard') %>
    </div>
</li>
<li class="list-group-item">
    <strong data-i18n="devices.ard.last-authorized"></strong>
    <% if ( device.get("authorized") === true || device.get("authorized") === "true") { %>
        <div class="pull-right label label-success" data-i18n="devices.ard.affirmative">
        </div>
    <% } else { %>
        <div class="pull-right label label-default" data-i18n="devices.ard.negative">
        </div>
    <% } %>
</li>

<%

var isAuthorized=device.get("authorized") === true || device.get("authorized") === "true";
var containsMessage=device.get("lastMessage")!=="";

%>

<li class="list-group-item">
    <strong data-i18n="devices.ard.last-message"></strong>


    <div class="pull-right label label-<% if(isAuthorized) print('success'); else print('default'); %>">
        <% if ( containsMessage ) { %>
            <%=device.get("lastMessage")%>
        <% } else { %>
            <div data-i18n="devices.ard.last-message-empty">
            </div>
        <% } %>
    </div>
</li>