<%
var isAuthorized=device.get("authorized") === true || device.get("authorized") === "true";
var containsMessage=device.get("lastMessage")!=="";
%>
<li class="list-group-item">
    <strong data-i18n="devices.ard.last-card"></strong>
    <div id="ard-last-card" class="pull-right label label-default">
        <%= device.get('lastCard') %>
    </div>
</li>
<li class="list-group-item">
    <strong data-i18n="devices.ard.last-authorized"></strong>
    <div id="ard-last-authorized" class="pull-right">
    <% if (isAuthorized) { %>
        <span class="label label-success" data-i18n="devices.ard.affirmative">
        </span>
    <% } else { %>
        <span class="label label-default" data-i18n="devices.ard.negative">
        </span>
    <% } %>
    </div>
</li>

<li class="list-group-item">
    <strong data-i18n="devices.ard.last-message"></strong>
    <div id="ard-last-message" class="pull-right">

      <span class="label label-<% if(isAuthorized) print('success'); else print('default'); %>">
        <% if ( containsMessage ) { %>
          <%=device.get("lastMessage")%>
        <% } else { %>
          <%=$.i18n.t("devices.ard.last-message-empty") %>
        <% } %>
      </span>
    </div>
</li>
