<li class="list-group-item">
	<div>
		<button type="button" class="btn btn-info btn-sm btn-tv-channelup" data-i18n="devices.tv.action.channelup"></button>
		<button type="button" class="btn btn-info btn-sm btn-tv-channeldown" data-i18n="devices.tv.action.channeldown"></button>
		<button type="button" class="btn btn-info btn-sm btn-tv-resume" data-i18n="devices.tv.action.resume"></button>
        <button type="button" class="btn btn-info btn-sm btn-tv-pause" data-i18n="devices.tv.action.pause"></button>
        <button type="button" class="btn btn-info btn-sm btn-tv-stop" data-i18n="devices.tv.action.stop"></button>
        <button type="button" class="btn btn-info btn-sm btn-tv-notify" data-i18n="devices.tv.action.notify"></button>
	</div>
</li>
