<li class="list-group-item">
	<strong data-i18n="devices.value-label"></strong>
	<div class="image-preload hidden">
			<img src='app/img/domicube-work.svg'>
			<img src='app/img/domicube-music.png'>
			<img src='app/img/domicube-question.svg'>
			<img src='app/img/domicube-night.png'>
			<img src='app/img/domicube-meal.png'>
	</div>
	<div id="domicube-active-face" class="pull-right">
		<% if(device.get("activeFace") === "1") { %>
			<img src='app/img/domicube-work.svg' width='18px' class="img-responsive">
		<% } else if(device.get("activeFace") === "2") { %>
			<img src='app/img/domicube-white.svg' width='18px' class="img-responsive">
		<% } else if(device.get("activeFace") === "3") { %>
			<img src='app/img/domicube-music.png' width='18px' class="img-responsive">
		<% } else if(device.get("activeFace") === "4") { %>
			<img src='app/img/domicube-question.svg' width='18px' class="img-responsive">
		<% } else if(device.get("activeFace") === "5") { %>
			<img src='app/img/domicube-night.png' width='18px' class="img-responsive">
		<% } else if(device.get("activeFace") === "6") { %>
			<img src='app/img/domicube-meal.png' width='18px' class="img-responsive">
		<% } else { %>
			<span data-i18n='devices.domicube.status.unknown'></span>
		<% } %>
	</div>
</li>
<li class="list-group-item">
	<strong data-i18n="devices.domicube.batteryLevel"></strong>
	<div class="pull-right">
		<%= device.get("batteryLevel") %>&percnt;
	</div>
</li>