<li class="list-group-item">
	<strong data-i18n="devices.state-label"></strong>
	<div id="div-fairylight-state" class="pull-right">
	</div>
</li>

<li class="list-group-item" style="padding-top:10px;height:50px;">
	<strong data-i18n="devices.controls-label"></strong>

	<div class="pull-right">

		<div class="btn-group">
			<button id="btn-cmd-turnon-color" type="button" class="btn btn-info btn-sm dropdown-toggle" data-toggle="dropdown"><span data-i18n="devices.fairylights.commands.turn-on-color"></span> <span class="caret"></span>
			</button>
			<ul id="dpd-colors" class="dropdown-menu" role="menu">
				<li><a href="#">Color 1</a>
				</li>
			</ul>
		</div>
		<div class="btn-group">
			<button id="btn-cmd-turnon-pattern" type="button" class="btn btn-info btn-sm dropdown-toggle" data-toggle="dropdown"><span data-i18n="devices.fairylights.commands.turn-on-pattern"></span> <span class="caret"></span>
			</button>
			<ul id="dpd-patterns" class="dropdown-menu" role="menu">
				<li><a href="#">Pattern 1</a>
				</li>
			</ul>
		</div>
		<button id="btn-cmd-turnoff" type="button" class="btn btn-info btn-sm" data-i18n="devices.fairylights.commands.turn-off"></button>
		<button id="btn-cmd-pattern-set" type="button" class="btn btn-info btn-sm" data-i18n="devices.fairylights.commands.pattern-set"></button>
		<button id="btn-cmd-pattern-create" type="button" class="btn btn-info btn-sm" data-i18n="devices.fairylights.commands.pattern-create"></button>
		<button id="btn-cmd-pattern-manage" type="button" class="btn btn-info btn-sm" data-i18n="devices.fairylights.commands.pattern-manage"></button>
	</div>
</li>

<!--
<li class="list-group-item" style="padding-top:10px;height:50px;">
	<strong data-i18n="devices.lamp.action.brightness"></strong>
	<div class="pull-right">
		<span data-i18n="devices.lamp.complement.minimum"></span>
		<input id="luminositePickerInputRange" type="range" class="select-speed" min="1" max="254" style="width:auto;display:inline;" value="<%= device.get('brightness') %>">
		<span data-i18n="devices.lamp.complement.maximum"></span>
	</div>
</li>
-->

<li class="list-group-item" style="height:450px;">
	<span data-i18n="devices.lamp.complement.color"></span>

	<div id="div-fairylight-widget" class="col-md-12">
		<svg></svg>
	</div>

	<div class="col-md-12" style="position: relative; width: 60%; margin-left:25%; margin-top: 15px">
		<style scoped>
			@import "./vendor/colorwidget/style.css";
		</style>
		<div id="colorPickerLi">
			<div class="picker-colors" style="background-color: rgb(0, 238, 255);">
				<div class="picker-colorPicker" style="left: -5px; top: 354px;"></div>
			</div>
			<div class="picker-hues">
				<div class="picker-huePicker" style="top: 175px;"></div>
			</div>
			<div class="picker_h" id="colorbg" style="background-color: rgb(0, 0, 0);"></div>
		</div>
	</div>
</li>