<li class="list-group-item">
    <strong data-i18n="devices.value-label"></strong>
    <div id="light-sensor-value" class="pull-right label-value">
         <%= $.i18n.t("devices.illumination.scale." + device.get("label")) %> : <%= device.getValue() %> Lux
    </div>
</li>

<li class="list-group-item">
    <strong data-i18n="devices.illumination.scale-label"></strong>
    <table class="table-scale">
        <tr>
            <td><span data-i18n="devices.illumination.scale.low"></span></br>0 - 300 Lux</td>
            <td><span data-i18n="devices.illumination.scale.medium"></span></br>301 - 500 Lux</td>
            <td><span data-i18n="devices.illumination.scale.high"></span></br>501 - 1000 Lux</td>
            <td><span data-i18n="devices.illumination.scale.veryHigh"></span></br>1001 - 2000 Lux</td>
            <td><span data-i18n="devices.illumination.scale.highest"></span></br>2001 - 30 000 Lux</td>
        </tr>
    </table>
</li>
