<li class="list-group-item">
	<strong data-i18n="devices.state-label"></strong>
	<div id="lamp-status" class="pull-right">
	<% if (device.get("value") === "true" || device.get("value") === true) { %>
	<span class="label label-yellow" data-i18n="devices.lamp.status.turnedOn"></span>
	<% } else { %>
	<span class="label label-default" data-i18n="devices.lamp.status.turnedOff"></span>
	<% } %>
	</div>
</li>
<li class="list-group-item">
	<strong data-i18n="devices.controls-label"></strong>
	<div class="pull-right">
        <button type="button" id="<%= device.get('id') %>" class="btn btn-info btn-sm blink-lamp-button" data-i18n="devices.lamp.action.blink"></button>

		<button id="lamp-button" type="button" class="btn btn-info btn-sm toggle-lamp-button">
			<% if (device.get("value") === "true" || device.get("value") === true) { %>
				<span data-i18n="devices.lamp.action.turnOff"></span>
			<% } else { %>
				<span data-i18n="devices.lamp.action.turnOn"></span>
			<% } %>
		</button>
	</div>
    <div class="color-picker center"></div>
</li>
