<div class="list-group-item" value="<%= id %>">
        <div class="pull-right">
                <button class="btn btn-default btn-unpair" device-id="<%= id %>">
                        <i class="glyphicon glyphicon-trash" data-i18n="adapters.enocean.control.unpair"></i>
                </button>
                <a  href="#devices/<%= id %>">
                        <i class="glyphicon glyphicon-chevron-right"/>
                </a>
        </div>
        <div class="row" style="padding:0.5em 0 0.5em">
                <div>
                        <div class="col-xs-4">
                                <span data-i18n="devices.id-label"></span>:
                                <span ><%= id %></span>
                        </div>
                        <div class="col-xs-4">
                                <span data-i18n="devices.name-label"></span>:
                                <span><%= name %></span>
                        </div>
                </div>
                <div class="col-xs-8">
                        <span data-i18n="devices.type-label"></span>:
                        <span data-i18n="<%= typeName %>"/>
                </div>
        </div>
</div>