<div class="list-group-item" value="<%= id %>">
        ID: <span ><%= id %></span>
        - Type : <span data-i18n="<%= typeName %>"/>
        - Name : <span><%= name %></span>
        <div class="pull-right">

                <button class="btn btn-default"><i class="glyphicon glyphicon-trash">unpair(TODO)</i></button>
                <a  href="#devices/<%= id %>" style="padding:0.5em 0 0.5em">
                        <i class="glyphicon glyphicon-chevron-right"/>
                </a>
        </div>
</div>